#share {
	width: 45px;
	border-bottom:1px solid #e0e0e0;
	position: fixed;
	top: 205px;
	right: 0;
	z-index: 999;
	background-color: #ffffff;
}
.stitle {
	display: block;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background-color: #6fb6fd;
	border-left: 1px solid #64aaf1;
	border-right: 1px solid #64aaf1;
	border-top: 1px solid #64aaf1;
}
.stb {
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}
.stip {
	display: block;
	width: 0;
	height: 0;
	margin: 0 auto;
	border-width: 4px;
	border-style: solid;
	border-color: #6fb6fd transparent transparent;
}
.stb img {
	display: block;
	margin: 10px auto;
}